div{
    background-color: tomato;
    /* padding: 3%; */
    /* margin-top: 2px; */
    /* height:10px ; */
    /* font-size: medium; */
    padding: 10px;
    margin-bottom: 10;
}
.asif{
    color: blue;
}
#fatema{
   color: cadetblue; 
}
img{
    border: 5px;
    width: 500px;
}
